/*******************
Basic Common
*******************/
.list-group {
  padding: 0px;
}

.btn-group, .pagination {
  // Reset rounded corners
  .btn:first-child, .page-item:first-child .page-link {
    border-radius: 0 $border-radius $border-radius 0 !important;
  }
  .btn:last-child, .page-item:last-child .page-link {
    border-radius: $border-radius 0 0 $border-radius;
  }
}

// spacing - margin -padding

.ml-auto {
  margin-right: auto !important;
  margin-left: 0px !important;
}

.mr-auto {
  margin-left: auto !important;
  margin-right: 0px !important;
}

.close {
  float: $rgt;
}

/*******************
Topbar
*******************/
.navbar-expand-md .navbar-nav {
  padding: 0px;
}

.topbar .top-navbar .navbar-header {
  padding-left: 0px;
  padding-right: 10px;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .dropdown-menu-right {
    right: auto;
    left: 0;
  }
}

/*******************
widgets
*******************/
.browser td .badge {
  float: $rgt;
}

.steamline {
  border-left: 0px;
  border-right: 1px solid $border-color;
  margin-left: 0px;
  margin-right: 20px;
  .sl-right {
    padding-left: 0px;
    padding-right: 50px;
  }
  .sl-left {
    margin-right: -20px;
    margin-left: 15px;
  }
}

.clockpicker-popover .popover-title {
  direction: ltr;
}

.bootstrap-tagsinput .tag [data-role="remove"]{
  margin-right: 8px;
  margin-left: auto;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-right: 2px;
  margin-left: auto;
}

/*******************
pages
*******************/
.chat-main-box .chat-left-aside {
  border-right: 0px;
  border-left: 1px solid $border-color;
}

.right-aside {
  margin-right: 250px;
  margin-left: 0px;
}


/*******************
 This is for Form page
*******************/
.custom-control-indicator {
  right: 0px;
}

.form-check-label {
  padding-left: 0px;
  padding-right: 1.25rem;
}

.form-check-input {
  margin-right: -1.25rem;
  margin-left: 0rem;
}

.custom-file-control::before {
  left: -1px;
  right: initial;
  border-radius: .25rem 0 0 .25rem;
}

.form-control + .input-group-addon:not(:first-child) {

  border-right: 0px;
}

.input-group .form-control:not(:first-child), .input-group-addon:not(:first-child), .input-group-btn:not(:first-child) > .btn, .input-group-btn:not(:first-child) > .btn-group > .btn, .input-group-btn:not(:first-child) > .dropdown-toggle, .input-group-btn:not(:last-child) > .btn-group:not(:first-child) > .btn, .input-group-btn:not(:last-child) > .btn:not(:first-child) {
  border-bottom-left-radius: .25rem;
  border-top-left-radius: .25rem;
  border-bottom-right-radius: 0rem;
  border-top-right-radius: 0rem;
}

.input-group-addon:not(:last-child) {
  border-right: 1px solid $border-color;
  border-left: 0px;
}

.input-group .form-control:not(:last-child), .input-group-addon:not(:last-child), .input-group-btn:not(:first-child) > .btn-group:not(:last-child) > .btn, .input-group-btn:not(:first-child) > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:not(:last-child) > .btn, .input-group-btn:not(:last-child) > .btn-group > .btn, .input-group-btn:not(:last-child) > .dropdown-toggle {
  border-bottom-right-radius: .25rem;
  border-top-right-radius: .25rem;
  border-bottom-left-radius: 0rem;
  border-top-left-radius: 0rem;
}

.input-group {
  .input-group-append .btn, .input-group-append .input-group-text {
    border-radius: $border-radius 0 0 $border-radius;
  }
  .input-group-prepend .btn, .input-group-prepend .input-group-text {
    border-radius: 0 $border-radius $border-radius 0;
  }
}

/*******************
 Custom
*******************/
.cursor-pointer{
  cursor: pointer;
}
.white-space-nowrap{
  white-space: nowrap;
}
.table th, .table td {
  vertical-align: middle;
}
